.deck-card {
    width: 400px;
    min-height: 200px;
}

.new-deck-card {
    background-color: lightgray;
    
}


.deck-card-image {
    display: block;
    width     : auto;
    max-height: 260px;
}