<mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let i of [].constructor(6)">
        <mat-card class="deck-card" [class.mat-elevation-z8]="true">
            <img mat-card-image class="deck-card-image"
                src="http://media.wizards.com/2016/images/daily/c4rd4r7_RKjhNfODcm.jpg" alt="Deck artwork">
            <mat-card-header>
                <mat-card-title>Emrakul</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Sie waren Ihr Abbild, das Abbild Ihrer ewigwährenden Wahrheit, und ihre Stimme war die Ihre. „Wir
                    sind
                    Emrakul!“
                </p>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-icon-button aria-label="Edit your deck">
                    <mat-icon>create</mat-icon>
                </button>
                <span class="spacer"></span>
                <button mat-icon-button aria-label="Print your deck">
                    <mat-icon>print</mat-icon>
                </button>
                <span class="spacer"></span>
                <button mat-icon-button aria-label="Delete your deck">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="deck-card new-deck-card">
            <mat-card-actions >
                <button mat-icon-button aria-label="Create new deck">
                    <mat-icon>control_point</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>