<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button class="menu-button">
      <span>{{title | uppercase}}</span>
    </button>
    <span class="spacer"></span>
    <span>{{pageTitle}}</span>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Spend uns a coffee">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="Share TOLORIAN COPYSHOP">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button aria-label="View TOLORIAN COPYSHOP on BitBucket">
      <mat-icon fontSet="fa" fontIcon="fa-bitbucket"></mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>